In [1]:
import pandas as pd
import pymysql
import sqlalchemy

In [2]:
df = pd.read_csv('food_db.csv')

In [3]:
df.head()

,name,clasificar,middle clasificar,code,small clasificar,addr,long,lat
0,북경짬뽕,음식,중식,Q02A00,중국음식/중국집,부산광역시 금정구 부산대학로 61,129.084582,35.231358
1,대성각,음식,중식,Q02A00,중국음식/중국집,부산광역시 금정구 부산대학로 60,129.084916,35.231680
2,사래향황궁쟁반,음식,중식,Q02A00,중국음식/중국집,부산광역시 금정구 부산대학로49번길 52,129.085210,35.229036
3,짬뽕상회,음식,중식,Q02A00,중국음식/중국집,부산광역시 금정구 부산대학로38번길 9,129.087180,35.231731
4,샤오시안,음식,중식,Q02A00,중국음식/중국집,부산광역시 금정구 부산대학로50번길 16,129.086295,35.232136

In [4]:
del df['clasificar']
del df['code']
del df['long']
del df['lat']

In [5]:
df

        name middle clasificar small clasificar                    addr
0       북경짬뽕                중식         중국음식/중국집      부산광역시 금정구 부산대학로 61
1        대성각                중식         중국음식/중국집      부산광역시 금정구 부산대학로 60
2    사래향황궁쟁반                중식         중국음식/중국집  부산광역시 금정구 부산대학로49번길 52
3       짬뽕상회                중식         중국음식/중국집   부산광역시 금정구 부산대학로38번길 9
4       샤오시안                중식         중국음식/중국집  부산광역시 금정구 부산대학로50번길 16
..       ...               ...              ...                     ...
426     긴자꼬지              유흥주점          꼬치구이전문점    부산광역시 금정구 장전로12번길 29
427     비온데이              유흥주점            호프/맥주      부산광역시 금정구 장전로 54-1
428     봉구비어              유흥주점            호프/맥주  부산광역시 금정구 장전로12번길 46-3
429       지꼬              유흥주점          꼬치구이전문점    부산광역시 금정구 장전로12번길 31
430     부대포차              유흥주점         소주방/포장마차    부산광역시 금정구 장전로12번길 30

[431 rows x 4 columns]

In [6]:
# 컬럼명 수정
df.columns= ['가게명', '분류', '소분류', '주소']

In [7]:
df.head()

       가게명  분류       소분류                      주소
0     북경짬뽕  중식  중국음식/중국집      부산광역시 금정구 부산대학로 61
1      대성각  중식  중국음식/중국집      부산광역시 금정구 부산대학로 60
2  사래향황궁쟁반  중식  중국음식/중국집  부산광역시 금정구 부산대학로49번길 52
3     짬뽕상회  중식  중국음식/중국집   부산광역시 금정구 부산대학로38번길 9
4     샤오시안  중식  중국음식/중국집  부산광역시 금정구 부산대학로50번길 16

In [8]:
# 디비 입력 단계
# sqlalchemy => db 연동, ORM 처리등 고급 데이터 베이스 연동 처리 모듈
from sqlalchemy import create_engine
import pandas.io.sql as pSql

In [9]:
 protocal = 'mysql+pymysql'
 user     = 'root'
 password = '12341234'
 domain   = 'localhost'
 database = 'python_db'
 
 db_url = f'{protocal}://{user}:{password}@{domain}/{database}'  # => 일반적인 프로토콜의 모습
 # 포트도 쓸 수 있는데 3306 쓰는거 다 아니까 안쓴느거임
 db_url

'mysql+pymysql://root:12341234@localhost/python_db'

In [10]:
 # 2. 엔진 생성
 engine = create_engine( db_url, encoding='utf8')

In [11]:
 # 3. 실연결
 conn = engine.connect()

In [12]:
 # 4. 테이블 생성 및 데이터 주입
 # (테이블은 없으면 만들어 버리고; 있으면 그냥 오픈-> 우리는 데이터를 추가함)
 df.to_sql( name='food',con=conn,if_exists='append', index= False)

In [13]:
 # 5. 연결 해제
 conn.close()