In [1]:
import pandas as pd
import pymysql
import sqlalchemy

In [2]:
df = pd.read_csv('cafe_db.csv')

In [3]:
df.head()

,name,clasificar,middle clasificar,code,small clasificar,addr,long,lat
0,산뽀,부산대 북문 부근,커피점/카페,Q12A01,커피전문점/카페/다방,부산광역시 금정구 부산대학로64번안길 2,129.085412,35.235921
1,운죽정북카페,부산대 북문 부근,커피점/카페,Q12A01,커피전문점/카페/다방,부산광역시 금정구 부산대학로63번길 2-1,129.073322,35.236425
2,105,부산대 북문 부근,커피점/카페,Q12A01,커피전문점/카페/다방,부산광역시 금정구 금강로279번길 111,129.083688,35.236819
3,백조,부산대 북문 부근,커피점/카페,Q12A01,커피전문점/카페/다방,부산광역시 금정구 금강로 308,129.086374,35.235596
4,두커피로스터스,부산대 북문 부근,커피점/카페,Q12A01,커피전문점/카페/다방,부산광역시 금정구 금강로321번길 66,129.082933,35.237042

In [4]:
del df['middle clasificar']
del df['code']
del df['small clasificar']
del df['long']
del df['lat']

In [5]:
df

         name clasificar                     addr
0          산뽀  부산대 북문 부근   부산광역시 금정구 부산대학로64번안길 2
1      운죽정북카페  부산대 북문 부근  부산광역시 금정구 부산대학로63번길 2-1
2         105  부산대 북문 부근   부산광역시 금정구 금강로279번길 111
3          백조  부산대 북문 부근        부산광역시 금정구 금강로 308
4     두커피로스터스  부산대 북문 부근    부산광역시 금정구 금강로321번길 66
..        ...        ...                      ...
103    네로커피나라    부산대역 부근        부산광역시 금정구 금강로 336
104       아레테    부산대역 부근     부산광역시 금정구 장전로12번길 55
105      캣스토리    부산대역 부근   부산광역시 금정구 장전로12번길 52-4
106  스테이히얼투데이    부산대역 부근     부산광역시 금정구 장전로20번길 27
107        라프    부산대역 부근     부산광역시 금정구 장전로20번길 23

[108 rows x 3 columns]

In [6]:
# 칼럼명 수정
df.columns= ['가게명', '분류', '주소']
df

          가게명         분류                       주소
0          산뽀  부산대 북문 부근   부산광역시 금정구 부산대학로64번안길 2
1      운죽정북카페  부산대 북문 부근  부산광역시 금정구 부산대학로63번길 2-1
2         105  부산대 북문 부근   부산광역시 금정구 금강로279번길 111
3          백조  부산대 북문 부근        부산광역시 금정구 금강로 308
4     두커피로스터스  부산대 북문 부근    부산광역시 금정구 금강로321번길 66
..        ...        ...                      ...
103    네로커피나라    부산대역 부근        부산광역시 금정구 금강로 336
104       아레테    부산대역 부근     부산광역시 금정구 장전로12번길 55
105      캣스토리    부산대역 부근   부산광역시 금정구 장전로12번길 52-4
106  스테이히얼투데이    부산대역 부근     부산광역시 금정구 장전로20번길 27
107        라프    부산대역 부근     부산광역시 금정구 장전로20번길 23

[108 rows x 3 columns]

In [7]:
df.head()

       가게명         분류                       주소
0       산뽀  부산대 북문 부근   부산광역시 금정구 부산대학로64번안길 2
1   운죽정북카페  부산대 북문 부근  부산광역시 금정구 부산대학로63번길 2-1
2      105  부산대 북문 부근   부산광역시 금정구 금강로279번길 111
3       백조  부산대 북문 부근        부산광역시 금정구 금강로 308
4  두커피로스터스  부산대 북문 부근    부산광역시 금정구 금강로321번길 66

In [8]:
# 디비 입력 단계
# sqlalchemy => db 연동, ORM 처리등 고급 데이터 베이스 연동 처리 모듈
from sqlalchemy import create_engine
import pandas.io.sql as pSql

In [9]:
 protocal = 'mysql+pymysql'
 user     = 'root'
 password = '12341234'
 domain   = 'localhost'
 database = 'python_db'
 
 db_url = f'{protocal}://{user}:{password}@{domain}/{database}'  # => 일반적인 프로토콜의 모습
 # 포트도 쓸 수 있는데 3306 쓰는거 다 아니까 안쓴느거임
 db_url

'mysql+pymysql://root:12341234@localhost/python_db'

In [10]:
 # 2. 엔진 생성
 engine = create_engine( db_url, encoding='utf8')

In [11]:
 # 3. 실연결
 conn = engine.connect()

In [12]:
 # 4. 테이블 생성 및 데이터 주입
 # (테이블은 없으면 만들어 버리고; 있으면 그냥 오픈-> 우리는 데이터를 추가함)
 df.to_sql( name='cafe',con=conn,if_exists='append', index= False)

In [13]:
 # 5. 연결 해제
 conn.close()